torch
torchvision
torchaudio
transformers
numpy
pillow
opencv-python-headless
pandas
qdrant-client
pydantic
streamlit 
num2words
accelerate>=0.26.0
openai
google-generativeai
google-genai
torchaudio
ffmpeg-python
pyannote-audio
pyyaml
flask>=2.0.0
requests>=2.25.0 
python-dotenv