accelerate
altair
annotated-types
anyio
attrs
blinker
brotli
cachetools
certifi
charset-normalizer
click
colorama
colour
diskcache
docopt
exceptiongroup
filelock
filetype
fsspec
gitdb
GitPython
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
Jinja2
jsonschema
jsonschema-specifications
llama_cpp_python
MarkupSafe
mpmath
networkx
num2words
numpy
nvidia-ml-py
nvitop
opencv-python-headless
packaging
pandas
pdftext
pillow
platformdirs
portalocker
protobuf
psutil
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pynput
pypdfium2
pyperclip
python-dateutil
python-dotenv
pytz
PyYAML
qdrant-client
referencing
regex
requests
rpds-py
safetensors
six
smmap
sniffio
streamlit
sympy
tenacity
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
transformers
typing_extensions
tzdata
ujson
urllib3
watchdog 